{% extends "blog/basework.html" %}{% block content %}

{% load static %}

<main>
    <section id="explain">
        <div class="detail-wrapper">
            <div class="detail-title">「Shoot!」</div>
                <div class="detail-sub-wrapper">
                    <div class="detail-image"></div>
                    <div class="detail-text">
                        <div class="background">
                            ゲーム企画からデザイン・設計・実装まで全て1人で作ったものです。
                            Unityを使用した3Dシューティングゲームで、ディズニーのトイストーリーマニアと
                            バズ・ライトイヤーのアストロブラスターを参考にしたものです。
                        </div>
                        <div class="detail-skill">
                            <div class="skill-title">-使用言語など-</div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
</main>

<footer id="footer">
    <p>&copy; 2023 My Work</p>
</footer>

{% endblock %}