@charset "UTF-8";

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    /*scroll-padding-top: 80px; 固定ヘッダの高さ分 */
}
body {
    color: #24292e;
}

a {
    text-decoration: none;
}


img {
    max-width: 100%;
}
li {
    list-style: none;
}

.wrapper {
    /*max-width: 960px;
    margin: 0 auto 0 auto;*/
    text-align: center;
    font-size: 0.9rem;
    padding: 0 4%;
}
.subwrapper{
    max-width: 960px;
    margin: 0 auto 0 auto;
}
.site-title {
    line-height: 1px;
}
.site-title a {
    display: block;
}
.sec-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 65px;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
    display: flex;
    background-color: #45a5ea;
    opacity: 75%;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 0 0 0;
    padding: 0 5% 0 5%;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
}
:root {
    --header-height: 60px; /* ヘッダーの高さを変数に保存 */
}
#header .site-title{
    font-size: 25px;
    color:white;
}
#header .site-list{
    height: 80px;
    align-items: center;
    display: flex;
}
#header a:visited{
    color:white;
}
#header ul {
    display: flex;
    height: 80px;
    align-items: center;
}
#header li {
    color:white;
    font-size: 0.9rem;
    width:75px;
    height:80px;
    display: flex;
    align-items:center;
    justify-content:center;
}
#header li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 75px;
    height: 80px;
}
#header li:hover a{
    color: black;
}
#header li:hover {
    opacity: 0.7;
    background-color: white;
}
#header li img.icon {
    width: 20px;
}

/*-------------------------------------------
Main-visual
-------------------------------------------*/
#main-visual {
    background-color: #97cdf3;
    margin-top: 80px;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-visual .logo-container {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 40%;
    width: 350px;
    position: relative;
    margin: 25% auto 35% auto;
}

#main-visual #bar{
    width: 0%;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 20px;
    left: 0px; /* 100pxは#barの幅を指定するための値です */
    flex-grow: 1;
}

#main-visual #typing-text {
    margin-right: 10px;
}

#main-visual .logo-text{
    display: flex;
    justify-content: center; /* ロゴのテキストを中央に配置 */
    top: 0px;
    align-items: center;
    color: white;
}

#main-visual .logo-about {
    flex: 1;
    font-size: 3rem;
    opacity: 1;
    position: absolute;
    bottom: 35px;
    left: 15px;
    font-family: 'Montserrat', sans-serif;
}

#main-visual .logo-winner {
    flex: 1;
    font-size: 10rem;
    font-family: 'Noto Serif JP', serif;
    transform: translateY(50%);
    opacity: 1;
    position: absolute;
    bottom: 0;
    right: 10px;
    animation: winner-anim 2.5s ease-out forwards;
}

@keyframes winner-anim {
    0% {
        transform: translate(-50%, 30%);
        opacity: 0;
    }
    75%{
        transform: translate(-50%, 0%);
        opacity: 1;
    }
    100% {
        transform: translate(0%, 0%);
        opacity: 1;
    }
}

/*-------------------------------------------
About
-------------------------------------------*/
#about{
    padding-top: 150px; /* ヘッダーの高さ分だけ余白を開ける */
    margin-bottom: 50px;
    height: 100vh;
}

#about .sec-title{
    width:100%;
}


#about ul {
    margin-bottom: 30px;
}
#about li:first-child {
    margin-bottom: 30px;
}
#about p {
    text-align:justify;
}

#about .profile-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#about .profile-left{
    flex: 1;
}
#about .profile-right{
    flex: 1;
    width: 100%;
}
#about .profile-lb{
    align-items: flex-end;
    display: flex;
}
#about .profile-lb .git-icon{
    width: 70px;
    padding:0 0 25px 0;
}
#about .profile-text{
    text-align: left;
}

#about .profile-image {
    padding: 5% 5%;
    width:60%
}
#about .profile-skills-title{
    width: 100%;
    padding: 10px;
    font-size: 20px;
}
#about .profile-skills{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#about .profile-skills img{
    margin:10px;
    height: 80px;
    width: auto;
}
#about .profile-skills .ros{
    height: 40px;
    width: auto;
}



/*-------------------------------------------
Works
-------------------------------------------*/
#works{
    padding-top: 150px;
    background-color: #f1f6f6; 
    /*background-image: url("images/aboutkatsu.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
}

#works .sec-title{
    margin-bottom: 100px;
}

#works .work-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 800px;
    padding: 100px auto;
    margin: 100px auto;
}

#works .work-text{
    flex: 1;
    justify-content: center;
    align-items: center;
}

#works .work-title{
    font-size:25px;
}
#works .work-explain{
    font-size:15px;
    color:#353535;
}
#works .work-image{
    flex: 1;
}
#works .work-image img{
    height: 300px;
}
#works .work-wrapper .work-text .button {
    margin: 50px auto 0 auto;
    text-align: center;
    width: 200px;
    background-color: #24292e;
    color: #fff;
    padding: 15px 0;
    border: solid 1px #24292e;
}
#works .work-wrapper .work-text .button:hover {
    background: #fff;
    color: #24292e;
}

/*-------------------------------------------
News
-------------------------------------------*/
#news dl {
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px #c8c8c8;
    margin-bottom: 20px;
}
#news dt {
    width: 20%;
    border-bottom: solid 1px #c8c8c8;
    padding: 15px;
}
#news dd {
    width: 80%;
    border-bottom: solid 1px #c8c8c8;
    padding: 15px;
}

/*-------------------------------------------
Contact
-------------------------------------------*/
#contact{
    padding-top: 150px;
    margin-bottom: 130px;
}
#contact .contact-input {
    flex-wrap: wrap;
    margin: 0px auto 20px auto;
}
#contact label{
    width: 15%;
}
#contact p{
    display: flex;
    height: 70px;
    padding: 20px;
}
#contact p:last-of-type{
    height: 150px;
}
#contact input[type="text"], input[type="email"] {
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
#contact textarea {
    width: 80%;
    border: solid 1px #ccc;
    padding: 10px;
    height: 100px;
}

#contact .button {
    text-align: center;
    width: 200px;
    background-color: #24292e;
    color: #fff;
    padding: 15px 0;
    border: solid 1px #24292e;
}
#contact .button:hover {
    background: #fff;
    color: #24292e;
}

/*-------------------------------------------
フッター
-------------------------------------------*/
#footer {
    background-color: #24292e;
    color: #fff;
    font-size: 0.5rem;
    padding: 10px 20px;
    text-align: center;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 600px) {
    .wrapper {
        margin-bottom: 70px;
    }
    .site-title {
        margin-top: 20px;
    }
    .sec-title {
        margin-bottom: 40px;
    }

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
    max-width: 100%;
    height: auto;
    flex-direction: column;
}
#header li {
    font-size: 0.8rem;
    margin-left: 20px;
}
#header li:first-child {
    margin-left: 0;
}

/*-------------------------------------------
Works
-------------------------------------------*/
#works ul {
    flex-direction: column;
}
#works li {
    width: 100%;
}

/*-------------------------------------------
News
-------------------------------------------*/
#news dl {
    flex-direction: column;
}
#news dt {
    width: 100%;
    border-bottom: none;
    padding-bottom: 0;
}
#news dd {
    width: 100%;
    padding-top: 0;
}

/*-------------------------------------------
Contact
-------------------------------------------*/
#contact dl {
    flex-direction: column;
}
#contact dt {
    width: 100%;
}
#contact dd {
    width: 100%;
}
}
